body {
  background-color: #f7f5fd;
  font-family: lora, sans-serif;
}
.container {
  background: white;
  width: 80%;
  margin: 50px auto;
  padding: 35px;
  border-radius: 10px;
  box-shadow: rgba(67, 62, 62, 0.09) 0 20px 40px;
}
