body {
  background-color: #f7f5fd;
  font-family: lora, sans-serif;
}
.container {
  background: white;
  width: 600px;
  margin: 50px auto;
  padding: 35px;
  border-radius: 10px;
  box-shadow: rgba(67, 62, 62, 0.09) 0 20px 40px;
}
a {
  color: blueviolet;
}
.search-form {
  background-color: #f7f5fd;
  width: 76%;
  padding: 11px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.submit-form {
  background-color: rgb(156, 67, 239);
  width: 22%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 7px;
  font-size: 15px;
}
.submit-form:hover {
  background-color: rgb(183, 18, 249);
  cursor: pointer;
}
header {
  border-bottom: 1px solid rgb(223, 209, 237);
  padding-bottom: 30px;
}
footer {
  text-align: center;
  color: rgb(5, 5, 5);
  font-size: 14px;
  opacity: 0.8;
  border-top: 1px solid rgb(223, 209, 237);
  padding-top: 25px;
}
.weather-data-store {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 25px 0;
}
.weather-search-city {
  margin: 0;
  font-size: 36px;
  line-height: 49px;
}
.city-data {
  font-size: 17px;
  line-height: 23px;
  color: rgb(40, 40, 50);
  opacity: 0.8;
}
.city-data strong {
  color: rgb(233, 22, 92);
}
.weather-app-current-weather {
  display: flex;
}
.weather-app-current-temp {
  font-size: 70px;
  font-weight: 80px;
  margin-left: 6px;
}
.weather-app-emoji {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}
.celcius {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 20px;
}
.weather-forecast-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.forecast-day-first {
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  line-height: 28px;
}
.forecast-emoji {
  text-align: center;
  font-size: 25px;
  margin: 8px;
}
.forecast-temperature {
  text-align: center;
  color: rgb(233, 22, 92);
  padding: 10px;
}
.forecast-weather-temps {
  padding: 8px;
}
